//base
@import "base/mixin";
@import "base/globales";
//components
@import "components/header";
@import "components/headboard";
@import "components/services";
@import "components/request";
@import "components/footer";
@import "components/diagnosis";
@import "components/comprehensive-advice";
@import "components/strategy";
@import "components/backround-whatsapp";
@import "components/request2";