body {
    main {
        .contac-whats {
            margin-top: 100px;
            @include breakpoint(desktop) {
                margin-top: 200px;
            }
            .background-whastapp {
                background-image: url('../images/background-whatsapp.png');
                width: 100%;
                text-align: center;
                @include breakpoint(desktop) {
                    height: 800px;
                }
                @include breakpoint(tablet) {
                    height: 390px;
                }
                p:nth-child(1) {
                    @include breakpoint(desktop) {
                        padding-top: 173px;
                    }
                }
                p {
                    color: #214A80;
                    padding-top: 15%;
                    @include breakpoint(phone) {
                        margin-left: 5%;
                        margin-right: 9%;
                    }
                    @include breakpoint(desktop) {
                        font-size: 32px;
                        padding-top: 0;
                    }
                    @include breakpoint(tablet) {
                        font-size: 32px;
                        padding-top: 0;
                    }
                    label {
                        color: #000000;
                    }
                }
                p:nth-child(3) {
                    @include breakpoint(phone) {
                        margin-bottom: 12%;
                    }
                }
                img {
                    width: 70%;
                    @include breakpoint(desktop) {
                        width: 40%;
                        margin-top: 30px;
                        margin-bottom: 15px;
                    }
                    @include breakpoint(tablet) {
                        width: 40%;
                        margin-top: 30px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}