body {
    main {
        .diagnosis {
            margin-top: 140px;
            text-align: center;
            @include breakpoint(desktop) {
                margin-top: 280px;
                height: 563px;
                text-align: left;
            }
            @include breakpoint(tablet) {
                text-align: left;
                height: 563px;
            }
            .image {
                background: linear-gradient(to left, rgba(255, 255, 255, 0), #FF9300), url('../images/diagnostico.png');
                height: 305px;
                width: 100%;
                @include breakpoint(phone) {
                    background-size: 100% 100%;
                }
                @include breakpoint(desktop) {
                    height: 681px;
                }
                @include breakpoint(tablet) {
                    height: 681px;
                }
                .text {
                    color: #FFFFFF;
                    p {
                        margin-top: 47px;
                        position: absolute;
                        @include breakpoint(phone) {
                            width: 100%;
                            padding-right: 16%;
                            padding-left: 11%;
                        }
                        @include breakpoint(desktop) {
                            font-size: 32px;
                            padding-left: 8%;
                            padding-right: 44%;
                            margin-top: 152px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 32px;
                            padding-left: 8%;
                            padding-right: 15%;
                            margin-top: 151px;
                        }
                    }
                }
                .btn-default {
                    font-size: 11px;
                    background-color: #FFFFFF;
                    margin-top: 198px;
                    color: #FF9300;
                    @include breakpoint(phone) {
                        width: 76%;
                        strong {
                            font-size: 19px;
                            white-space: normal;
                        }
                    }
                    @include breakpoint(desktop) {
                        margin-left: 8%;
                        font-size: 19px;
                        margin-top: 321px;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 8%;
                        font-size: 19px;
                        margin-top: 364px;
                    }
                }
                .btn-default:hover {
                    background-color: #F26739;
                    color: #FFFFFF;
                    border-color: transparent;
                }
            }
        }
    }
}