body {
    footer {
        background-color: #111231;
        .row {
            margin-right: 0;
            .col-sm-6 {
                ul {
                    margin-top: 40px;
                    @include breakpoint(desktop) {
                        margin-left: 9%;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 9%;
                    }
                    li {
                        list-style: none;
                        color: #CCCCCC;
                        font-size: 13px;
                        margin-top: 5px;
                        @include breakpoint(desktop) {
                            font-size: 22px;
                            margin-top: 0;
                        }
                        i {
                            color: #FFFFFF;
                            width: 8%;
                            @include breakpoint(desktop) {
                                width: 5%;
                                letter-spacing: 16px;
                            }
                        }
                    }
                }
            }
            .logo {
                text-align: center;
                margin-top: 11px;
                margin-bottom: 23px;
                @include breakpoint(desktop) {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}