body {
    header {
        .headboard {
            .row {
                margin-right: 0;
                .col-sm-6 {
                    .description-headboard {
                        margin-top: 25px;
                        margin-left: 15%;
                        @include breakpoint(desktop) {
                            text-align: left;
                            margin-left: 34%;
                            color: #05283C;
                            font-size: 32px;
                            margin-top: 130px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 25px;
                        }
                        .text1 {
                            font-weight: 300;
                        }
                        hr {
                            margin-left: 0%;
                            width: 7%;
                            background: #F37421;
                            height: 1px;
                        }
                    }
                }
                .image {
                    img {
                        margin-top: -60px;
                        margin-left: 3%;
                        @include breakpoint(desktop) {
                            margin-top: -80px;
                            margin-left: 0%;
                        }
                    }
                }
            }
        }
    }
}