body {
    header {
        .headboard {
            .row {
                margin-right: 0;
                .col-sm-6 {
                    .description-headboard {
                        margin-top: 25px;
                        color: #05283C;
                        padding-left: 13%;
                        padding-right: 13%;
                        @include breakpoint(desktop) {
                            font-size: 32px;
                            margin-top: 130px;
                            padding-left: 13%;
                            padding-right: 21%;
                        }
                        @include breakpoint(tablet) {
                            font-size: 25px;
                            padding-left: 14%;
                            padding-right: 0%;
                        }
                        hr {
                            margin-left: 0%;
                            width: 7%;
                            background: #F37421;
                            height: 1px;
                        }
                    }
                }
                .image {
                    img {
                        margin-top: -60px;
                        margin-left: 3%;
                        @include breakpoint(desktop) {
                            margin-top: -80px;
                            margin-left: 0%;
                        }
                    }
                }
            }
        }
    }
}