body {
    main {
        .request2 {
            text-align: center;
            height: 593px;
            @include breakpoint(desktop) {
                height: 801px;
                border-radius: 0px;
                background-color: #0064EF;
            }
            @include breakpoint(tablet) {
                border-radius: 0px;
                background-color: #0064EF;
                height: 553px;
            }
            .desp {
                @include breakpoint(desktop) {
                    height: 130px;
                }
                @include breakpoint(tablet) {
                    height: 26px;
                }
            }
            .description {
                position: absolute;
                margin-top: 27px;
                color: #FFFFFF;
                width: 100%;
                @include breakpoint (desktop) {
                    margin-top: 6%;
                    font-size: 32px;
                    width: 30%;
                    text-align: left;
                    margin-left: 23%;
                }
                @include breakpoint (tablet) {
                    margin-top: 50px;
                    font-size: 32px;
                    width: 41%;
                    text-align: left;
                    margin-left: 15%;
                }
                .text1 {
                    font-weight: 900;
                    padding-left: 9%;
                    padding-right: 9%;
                    padding-top: 6%;
                    @include breakpoint(tablet) {
                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 0;
                    }
                    @include breakpoint(desktop) {
                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 0;
                    }
                }
                .text2 {
                    font-weight: 400;
                    padding-left: 9%;
                    padding-right: 9%;
                    @include breakpoint(tablet) {
                        padding-left: 0%;
                        padding-right: 0%;
                    }
                    @include breakpoint(desktop) {
                        padding-left: 0%;
                        padding-right: 0%;
                    }
                }
                img {
                    display: none;
                    @include breakpoint(desktop) {
                        margin-left: 18%;
                        margin-top: 40px;
                        display: block;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 18%;
                        margin-top: 0px;
                        display: block;
                    }
                }
                hr {
                    width: 100%;
                    background-color: #E6E6FA;
                    margin-top: 31px;
                    @include breakpoint(desktop) {
                        display: none;
                    }
                    @include breakpoint(tablet) {
                        display: none;
                    }
                }
            }
            canvas {
                border: 1px solid #E6E6FA;
                width: 100%;
                height: 500px;
                background-color: #0064EF;
                @include breakpoint(phone) {
                    height: 593px;
                }
                @include breakpoint(desktop) {
                    width: 73%;
                    border-radius: 20px;
                }
                @include breakpoint(tablet) {
                    width: 81%;
                    border-radius: 20px;
                    height: 477px;
                    margin-top: 23px;
                }
            }
            .line-vertical {
                @include breakpoint(desktop) {
                    border-left: 1px solid #E6E6FA;
                    height: 500px;
                    position: absolute;
                    margin-left: 61%;
                }
                @include breakpoint(tablet) {
                    border-left: 1px solid #E6E6FA;
                    height: 477px;
                    position: absolute;
                    margin-left: 57%;
                    margin-top: 23px;
                }
            }
            .form-request2 {
                .diagnosis-free2 {
                    position: absolute;
                    padding-right: 5%;
                    padding-left: 7%;
                    padding-top: 67%;
                    color: #ffffff;
                    @include breakpoint(desktop) {
                        padding-top: 6%;
                        margin-left: 64%;
                        width: 23%;
                        text-align: left;
                        padding-right: 0;
                        padding-left: 0;
                    }
                    @include breakpoint(tablet) {
                        padding-top: 7%;
                        margin-left: 61%;
                        width: 34%;
                        text-align: left;
                        padding-right: 0;
                        padding-left: 0;
                    }
                }
                .form2 {
                    .form-second {
                        position: absolute;
                        padding-right: 13%;
                        padding-left: 19%;
                        margin-top: 352px;
                        @include breakpoint(desktop) {
                            margin-top: 205px;
                            padding-left: 65%;
                            padding-right: 16%;
                        }
                        @include breakpoint(tablet) {
                            margin-top: 218px;
                            padding-left: 60%;
                            padding-right: 13%;
                        }
                        .form-reques2 {
                            background-color: transparent;
                            border-color: #ffffff;
                            @include breakpoint(desktop) {
                                height: 51px;
                            }
                            @include breakpoint(tablet) {
                                height: 51px;
                            }
                        }
                         ::placeholder {
                            color: #FFFFFF;
                        }
                        .btn-primary {
                            background-color: #F37421;
                            border-color: #F37421;
                            width: 100%;
                            @include breakpoint(desktop) {
                                height: 51px;
                            }
                            @include breakpoint(tablet) {
                                height: 51px;
                            }
                        }
                    }
                }
            }
        }
    }
}