body {
    main {
        .request2 {
            text-align: center;
            border-radius: 20px;
            height: 500px;
            @include breakpoint(desktop) {
                height: 801px;
                border-radius: 0px;
                background-color: #0064EF;
            }
            @include breakpoint(tablet) {
                border-radius: 0px;
                background-color: #0064EF;
                height: 553px;
            }
            .desp {
                @include breakpoint(desktop) {
                    height: 130px;
                }
                @include breakpoint(tablet) {
                    height: 26px;
                }
            }
            .description {
                position: absolute;
                margin-top: 27px;
                color: #FFFFFF;
                width: 100%;
                @include breakpoint (desktop) {
                    margin-top: 6%;
                    font-size: 32px;
                    width: 30%;
                    text-align: left;
                    margin-left: 23%;
                }
                @include breakpoint (tablet) {
                    margin-top: 50px;
                    font-size: 32px;
                    width: 41%;
                    text-align: left;
                    margin-left: 17%;
                }
                .text1 {
                    font-weight: 900;
                }
                .text2 {
                    font-weight: 400;
                }
                img {
                    display: none;
                    @include breakpoint(desktop) {
                        margin-left: 18%;
                        margin-top: 40px;
                        display: block;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 18%;
                        margin-top: 0px;
                        display: block;
                    }
                }
                hr {
                    width: 100%;
                    background-color: #E6E6FA;
                    @include breakpoint(desktop) {
                        display: none;
                    }
                    @include breakpoint(tablet) {
                        display: none;
                    }
                }
            }
            canvas {
                border: 1px solid #E6E6FA;
                width: 100%;
                border-radius: 20px;
                height: 500px;
                background-color: #0064EF;
                @include breakpoint(desktop) {
                    width: 73%;
                }
                @include breakpoint(tablet) {
                    width: 81%;
                }
            }
            .line-vertical {
                @include breakpoint(desktop) {
                    border-left: 1px solid #E6E6FA;
                    height: 500px;
                    position: absolute;
                    margin-left: 61%;
                }
                @include breakpoint(tablet) {
                    border-left: 1px solid #E6E6FA;
                    height: 500px;
                    position: absolute;
                    margin-left: 57%;
                }
            }
        }
        .form-request {
            margin-left: 17%;
            .diagnosis-free {
                position: absolute;
                margin-top: 171px;
                margin-left: -18%;
                color: #ffffff;
                @include breakpoint(desktop) {
                    margin-top: 54px;
                    margin-left: 48%;
                    width: 18%;
                    text-align: left;
                }
                @include breakpoint(tablet) {
                    margin-top: 54px;
                    margin-left: 43%;
                    width: 30%;
                    text-align: left;
                }
            }
            .form2 {
                position: absolute;
                margin-top: 270px;
                margin-right: 53px;
                @include breakpoint(desktop) {
                    margin-top: 178px;
                    margin-left: 48%;
                    width: 17%;
                }
                @include breakpoint(tablet) {
                    margin-top: 190px;
                    margin-left: 43%;
                    width: 29%;
                }
                .form-reques2 {
                    background-color: transparent;
                    border-color: #ffffff;
                    @include breakpoint(desktop) {
                        height: 51px;
                    }
                    @include breakpoint(tablet) {
                        height: 51px;
                    }
                }
                 ::placeholder {
                    color: #FFFFFF;
                }
                .btn-primary {
                    background-color: #F37421;
                    border-color: #F37421;
                    width: 100%;
                    @include breakpoint(desktop) {
                        height: 51px;
                    }
                    @include breakpoint(tablet) {
                        height: 51px;
                    }
                }
            }
        }
    }
}