body {
    main {
        .request {
            text-align: center;
            margin-top: 120px;
            margin-right: 8%;
            margin-left: 8%;
            @include breakpoint(desktop) {
                margin-top: 181px;
                margin-right: 0;
                margin-left: 0;
            }
            @include breakpoint(tablet) {
                margin-top: 100px;
                margin-right: 0;
                margin-left: 0;
            }
            .description {
                position: absolute;
                margin-top: 27px;
                color: #F26739;
                @include breakpoint(phone) {
                    width: 84%;
                }
                @include breakpoint (desktop) {
                    margin-top: 7%;
                    font-size: 32px;
                    text-align: left;
                    margin-left: 24%;
                }
                @include breakpoint (tablet) {
                    margin-top: 54px;
                    font-size: 29px;
                    text-align: left;
                    padding-left: 14%;
                    padding-right: 44%;
                }
                img {
                    display: none;
                    @include breakpoint(desktop) {
                        margin-left: 18%;
                        margin-top: 40px;
                        display: block;
                    }
                    @include breakpoint(tablet) {
                        margin-left: 18%;
                        margin-top: 40px;
                        display: block;
                    }
                }
                hr {
                    width: 100%;
                    background-color: #000000;
                    @include breakpoint(desktop) {
                        display: none;
                    }
                    @include breakpoint(tablet) {
                        display: none;
                    }
                }
            }
            canvas {
                border: 1px solid #000000;
                width: 100%;
                border-radius: 20px;
                height: 500px;
                @include breakpoint(phone) {
                    box-shadow: 1px 1px 1px 3px #999;
                }
                @include breakpoint(desktop) {
                    width: 73%;
                }
                @include breakpoint(tablet) {
                    width: 81%;
                }
            }
            .line-vertical {
                @include breakpoint(desktop) {
                    border-left: 1px solid #000000;
                    height: 500px;
                    position: absolute;
                    margin-left: 61%;
                }
                @include breakpoint(tablet) {
                    border-left: 1px solid #000000;
                    height: 500px;
                    position: absolute;
                    margin-left: 57%;
                }
            }
        }
        .form-request {
            h2 {
                position: absolute;
                margin-top: 171px;
                color: #05283C;
                @include breakpoint(phone) {
                    font-size: 26px;
                    width: 84%;
                }
                @include breakpoint(desktop) {
                    margin-top: 7%;
                    margin-left: 64%;
                    text-align: left;
                }
                @include breakpoint(tablet) {
                    margin-top: 54px;
                    margin-left: 60%;
                    text-align: left;
                    padding-right: 4%;
                }
            }
            form {
                position: absolute;
                margin-top: 270px;
                margin-right: 53px;
                @include breakpoint(desktop) {
                    margin-top: 178px;
                    margin-left: 48%;
                    width: 17%;
                }
                @include breakpoint(tablet) {
                    margin-top: 190px;
                    margin-left: 43%;
                    width: 29%;
                }
                .form-control {
                    border-color: #000000;
                    @include breakpoint(desktop) {
                        height: 51px;
                    }
                    @include breakpoint(tablet) {
                        height: 51px;
                    }
                }
                .btn-primary {
                    background-color: #F37421;
                    border-color: #F37421;
                    width: 100%;
                    @include breakpoint(desktop) {
                        height: 51px;
                    }
                    @include breakpoint(tablet) {
                        height: 51px;
                    }
                }
                .btn-primary:hover {
                    background-color: #FFFFFF;
                    color: #F37421;
                    border-color: #F26739;
                }
            }
        }
    }
}