body {
    main {
        .services {
            hr {
                width: 85%;
                margin-top: 70px;
                @include breakpoint(desktop) {
                    margin-top: 130px;
                }
                @include breakpoint(tablet) {
                    margin-top: 130px;
                }
            }
            .title {
                color: #05283C;
                padding-left: 14%;
                padding-right: 14%;
                margin-top: 70px;
                text-align: center;
                @include breakpoint(desktop) {
                    margin-left: 21%;
                    margin-top: 180px;
                    padding-left: 0;
                    padding-right: 0;
                }
                @include breakpoint(tablet) {
                    padding-left: 4%;
                    padding-right: 4%;
                }
                h3 {
                    font-size: 18px;
                    font-weight: 300;
                    @include breakpoint(desktop) {
                        font-size: 32px;
                        text-align: center;
                        width: 69%;
                    }
                    @include breakpoint(tablet) {
                        font-size: 32px;
                        text-align: center;
                    }
                }
            }
            .list-services {
                margin-top: 40px;
                text-align: center;
                @include breakpoint(desktop) {
                    margin-top: 100px;
                }
                @include breakpoint(tablet) {
                    margin-top: 100px;
                    padding-left: 4%;
                    padding-right: 4%;
                }
                .row {
                    margin-right: 0;
                    color: #000000;
                    @include breakpoint(desktop) {
                        width: 70%;
                        margin-left: 13%;
                    }
                    @include breakpoint(tablet) {
                        width: 100%;
                        margin-left: 0%;
                    }
                    .col-sm-3 {
                        img {
                            margin-bottom: 7px;
                        }
                        h6 {
                            font-size: 22px;
                            font-weight: bold;
                            margin-top: 21px;
                        }
                        p {
                            padding-left: 14%;
                            padding-right: 14%;
                            margin-top: 30px;
                            @include breakpoint(desktop) {
                                padding-left: 19%;
                                padding-right: 19%;
                                font-size: 12px;
                            }
                            @include breakpoint(tablet) {
                                padding-left: 0%;
                                padding-right: 0%;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}