body {
    main {
        .strategy {
            color: #214A80;
            margin-top: 31px;
            text-align: left;
            @include breakpoint(desktop) {
                margin-top: 180px;
            }
            @include breakpoint(tablet) {
                margin-top: 60px;
            }
            .title {
                width: 83%;
                margin-left: 10%;
                font-size: 18px;
                @include breakpoint(desktop) {
                    width: 58%;
                    margin-left: 21%;
                    font-size: 32px;
                    text-align: center;
                }
                @include breakpoint(tablet) {
                    width: 79%;
                    margin-left: 10%;
                    font-size: 32px;
                    text-align: center;
                }
            }
            .row {
                margin-right: 0;
                text-align: -webkit-center;
                margin-top: 38px;
                @include breakpoint(desktop) {
                    margin-top: 114px;
                    width: 70%;
                    margin-left: 13%;
                }
                @include breakpoint(tablet) {
                    margin-top: 40px;
                    width: 100%;
                    margin-left: 0%;
                }
                .col-sm-3 {
                    margin-bottom: 30px;
                    .circle {
                        width: 54%;
                        height: 211px;
                        border: 1px solid #214A80;
                        border-radius: 118px;
                        @include breakpoint(desktop) {
                            width: 89%;
                            height: 191px;
                        }
                        @include breakpoint(tablet) {
                            width: 100%;
                            height: 172px;
                        }
                        img {
                            width: 33%;
                            margin-top: 38px;
                            @include breakpoint(desktop) {
                                width: 24%;
                            }
                            @include breakpoint(tablet) {
                                width: 24%;
                            }
                        }
                        p {
                            width: 100%;
                            margin-left: 0;
                            font-size: 12px;
                            @include breakpoint(desktop) {
                                margin-top: 6px
                            }
                            @include breakpoint(tablet) {
                                margin-top: 6px
                            }
                        }
                        .text2 {
                            width: 98%;
                        }
                    }
                }
            }
        }
    }
}