html body {
  font-family: Montserrat; }

body header .logo-contact {
  margin-top: 71px;
  text-align: center; }
  @media (min-width: 1025px) {
    body header .logo-contact {
      text-align: left; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body header .logo-contact {
      text-align: left; } }
  body header .logo-contact .row .col-sm-6 .contact {
    margin-top: 46px; }
    @media (min-width: 1025px) {
      body header .logo-contact .row .col-sm-6 .contact {
        text-align: right; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body header .logo-contact .row .col-sm-6 .contact {
        text-align: right; } }
    body header .logo-contact .row .col-sm-6 .contact h1 {
      font-size: 32px;
      color: #05283C;
      font-weight: 300; }
      body header .logo-contact .row .col-sm-6 .contact h1 .fa-whatsapp {
        font-size: 16px;
        position: absolute;
        color: #25d366;
        font-weight: 600; }

body header .headboard .row {
  margin-right: 0; }
  body header .headboard .row .col-sm-6 .description-headboard {
    margin-top: 25px;
    margin-left: 15%;
    color: #05283C; }
    @media (min-width: 1025px) {
      body header .headboard .row .col-sm-6 .description-headboard {
        text-align: left;
        font-size: 32px;
        margin-top: 130px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body header .headboard .row .col-sm-6 .description-headboard {
        font-size: 25px; } }
    body header .headboard .row .col-sm-6 .description-headboard hr {
      margin-left: 0%;
      width: 7%;
      background: #F37421;
      height: 1px; }
  body header .headboard .row .image img {
    margin-top: -60px;
    margin-left: 3%; }
    @media (min-width: 1025px) {
      body header .headboard .row .image img {
        margin-top: -80px;
        margin-left: 0%; } }

body main hr {
  width: 85%; }

body main .services .title {
  color: #05283C;
  margin-left: 7%; }
  @media (min-width: 1025px) {
    body main .services .title {
      margin-left: 20%;
      margin-top: 152px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .services .title {
      margin-left: 20%;
      margin-top: 152px; } }
  body main .services .title h3 {
    font-size: 18px;
    font-weight: 300; }
    @media (min-width: 1025px) {
      body main .services .title h3 {
        font-size: 32px;
        text-align: center;
        width: 69%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .services .title h3 {
        font-size: 32px;
        text-align: center;
        width: 83%; } }

body main .services .list-services {
  margin-top: 40px;
  text-align: center; }
  @media (min-width: 1025px) {
    body main .services .list-services {
      margin-top: 100px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .services .list-services {
      margin-top: 100px; } }
  body main .services .list-services .row {
    margin-right: 0; }
    @media (min-width: 1025px) {
      body main .services .list-services .row {
        width: 70%;
        margin-left: 13%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .services .list-services .row {
        width: 70%;
        margin-left: 13%; } }
    body main .services .list-services .row .col-sm-3 img {
      margin-bottom: 7px; }
    body main .services .list-services .row .col-sm-3 h6 {
      font-size: 22px;
      width: 50%;
      margin-left: 25%; }
      @media (min-width: 1025px) {
        body main .services .list-services .row .col-sm-3 h6 {
          width: 79%;
          margin-left: 13%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .services .list-services .row .col-sm-3 h6 {
          width: 78%;
          margin-left: 13%; } }
    body main .services .list-services .row .col-sm-3 p {
      font-size: 12px;
      width: 50%;
      margin-left: 25%; }
      @media (min-width: 1025px) {
        body main .services .list-services .row .col-sm-3 p {
          width: 82%;
          margin-left: 13%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .services .list-services .row .col-sm-3 p {
          width: 82%;
          margin-left: 13%; } }

body main .request {
  text-align: center;
  margin-top: 25px; }
  @media (min-width: 1025px) {
    body main .request {
      margin-top: 181px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request {
      margin-top: 100px; } }
  body main .request .description {
    position: absolute;
    margin-top: 27px;
    color: #F26739;
    width: 100%; }
    @media (min-width: 1025px) {
      body main .request .description {
        margin-top: 50px;
        font-size: 32px;
        width: 28%;
        text-align: left;
        margin-left: 26%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request .description {
        margin-top: 50px;
        font-size: 32px;
        width: 42%;
        text-align: left;
        margin-left: 17%; } }
    body main .request .description .text1 {
      font-weight: 900; }
    body main .request .description .text2 {
      font-weight: 400; }
    body main .request .description img {
      display: none; }
      @media (min-width: 1025px) {
        body main .request .description img {
          margin-left: 18%;
          margin-top: 40px;
          display: block; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request .description img {
          margin-left: 18%;
          margin-top: 40px;
          display: block; } }
    body main .request .description hr {
      width: 100%;
      background-color: #E6E6FA; }
      @media (min-width: 1025px) {
        body main .request .description hr {
          display: none; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request .description hr {
          display: none; } }
  body main .request canvas {
    border: 1px solid #E6E6FA;
    width: 100%;
    border-radius: 20px;
    height: 500px; }
    @media (min-width: 1025px) {
      body main .request canvas {
        width: 73%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request canvas {
        width: 81%; } }
  @media (min-width: 1025px) {
    body main .request .line-vertical {
      border-left: 1px solid #E6E6FA;
      height: 500px;
      position: absolute;
      margin-left: 61%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request .line-vertical {
      border-left: 1px solid #E6E6FA;
      height: 500px;
      position: absolute;
      margin-left: 57%; } }

body main .form-request {
  margin-left: 17%; }
  body main .form-request h2 {
    position: absolute;
    margin-top: 171px;
    margin-left: -18%;
    color: #05283C; }
    @media (min-width: 1025px) {
      body main .form-request h2 {
        margin-top: 54px;
        margin-left: 48%;
        width: 18%;
        text-align: left; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .form-request h2 {
        margin-top: 54px;
        margin-left: 43%;
        width: 30%;
        text-align: left; } }
  body main .form-request form {
    position: absolute;
    margin-top: 270px; }
    @media (min-width: 1025px) {
      body main .form-request form {
        margin-top: 178px;
        margin-left: 48%;
        width: 17%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .form-request form {
        margin-top: 220px;
        margin-left: 43%;
        width: 29%; } }
    body main .form-request form .form-control {
      border-color: #000000; }
      @media (min-width: 1025px) {
        body main .form-request form .form-control {
          height: 51px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .form-request form .form-control {
          height: 51px; } }
    body main .form-request form .btn-primary {
      background-color: #F37421;
      border-color: #F37421;
      width: 100%; }
      @media (min-width: 1025px) {
        body main .form-request form .btn-primary {
          height: 51px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .form-request form .btn-primary {
          height: 51px; } }

body footer {
  background-color: #111231; }
  body footer .row {
    margin-right: 0; }
    body footer .row .col-sm-6 ul {
      margin-top: 40px; }
      @media (min-width: 1025px) {
        body footer .row .col-sm-6 ul {
          margin-left: 9%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .row .col-sm-6 ul {
          margin-left: 9%; } }
      body footer .row .col-sm-6 ul li {
        list-style: none;
        color: #CCCCCC;
        font-size: 13px;
        margin-top: 5px; }
        @media (min-width: 1025px) {
          body footer .row .col-sm-6 ul li {
            font-size: 22px;
            margin-top: 0; } }
        body footer .row .col-sm-6 ul li i {
          color: #FFFFFF;
          width: 8%; }
          @media (min-width: 1025px) {
            body footer .row .col-sm-6 ul li i {
              width: 5%;
              letter-spacing: 16px; } }
    body footer .row .logo {
      text-align: center;
      margin-top: 11px;
      margin-bottom: 23px; }
      @media (min-width: 1025px) {
        body footer .row .logo {
          margin-top: 40px;
          margin-bottom: 40px; } }

body main .diagnosis {
  height: 305px;
  margin-top: 36px;
  text-align: center; }
  @media (min-width: 1025px) {
    body main .diagnosis {
      margin-top: 241px;
      height: 681px;
      text-align: left; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .diagnosis {
      text-align: left; } }
  body main .diagnosis .image {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #FF9300), url("../images/diagnostico.png");
    height: 305px;
    width: 100%;
    background-size: 100% 100%; }
    @media (min-width: 1025px) {
      body main .diagnosis .image {
        height: 681px; } }
    body main .diagnosis .image .text {
      color: #FFFFFF; }
      body main .diagnosis .image .text p {
        margin-top: 70px;
        position: absolute; }
        @media (min-width: 1025px) {
          body main .diagnosis .image .text p {
            font-size: 32px;
            margin-left: 8%;
            width: 50%;
            margin-top: 205px; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .diagnosis .image .text p {
            font-size: 32px;
            margin-left: 2%;
            width: 96%;
            margin-top: 8px; } }
    body main .diagnosis .image .btn-default {
      font-size: 11px;
      background-color: #FFFFFF;
      margin-top: 198px;
      color: #FF9300; }
      @media (min-width: 1025px) {
        body main .diagnosis .image .btn-default {
          margin-left: 8%;
          font-size: 19px;
          margin-top: 376px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .diagnosis .image .btn-default {
          margin-left: 3%;
          font-size: 19px;
          margin-top: 198px; } }

body main .comprehensive-advice {
  background-color: #E9EFF2; }
  body main .comprehensive-advice .row {
    margin-right: 0; }
  @media (min-width: 1025px) {
    body main .comprehensive-advice .row-1 .col-sm-4 {
      margin-left: 98px; } }
  body main .comprehensive-advice .row-1 .col-sm-4 h6 {
    margin-top: 32px;
    margin-left: 7%; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-4 h6 {
        margin-top: 266px;
        font-size: 22px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-1 .col-sm-4 h6 {
        margin-top: 122px;
        font-size: 22px; } }
  body main .comprehensive-advice .row-1 .col-sm-4 hr {
    width: 11%;
    background-color: #FF9300;
    margin-right: 82%;
    height: 1px; }
  body main .comprehensive-advice .row-1 .col-sm-4 p {
    margin-left: 6%;
    color: #05283C; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-4 p {
        font-size: 32px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-1 .col-sm-4 p {
        font-size: 23px; } }
  body main .comprehensive-advice .row-1 .col-sm-4 a .btn-default {
    font-size: 14px;
    margin-left: 6%;
    background-color: #FFFFFF;
    border-radius: 14px;
    color: #05283C;
    border-color: #05283C; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-1 .col-sm-4 a .btn-default {
        font-size: 18px;
        margin-left: 5%; } }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-4 a .btn-default {
        font-size: 18px; } }
  @media (min-width: 1025px) {
    body main .comprehensive-advice .row-1 .col-sm-8 {
      max-width: 58.666667%; } }
  body main .comprehensive-advice .row-1 .col-sm-8 img {
    margin-left: 4%;
    margin-top: 25px;
    width: 100%; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-8 img {
        margin-left: 31%;
        margin-top: 168px;
        width: 72%; } }
  body main .comprehensive-advice .row-2 {
    text-align: center; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-2 {
        margin-top: 90px;
        margin-left: 9%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-2 {
        margin-top: 60px; } }
    body main .comprehensive-advice .row-2 .col-sm-4 {
      color: #606060; }
      @media (min-width: 1025px) {
        body main .comprehensive-advice .row-2 .col-sm-4 img {
          float: left; } }
      body main .comprehensive-advice .row-2 .col-sm-4 p {
        margin-bottom: 30px;
        font-size: 22px; }
        @media (min-width: 1025px) {
          body main .comprehensive-advice .row-2 .col-sm-4 p {
            margin-bottom: 109px;
            width: 47%;
            text-align: left;
            margin-top: 13px;
            margin-left: 15%; } }

body main .button {
  text-align: center; }
  body main .button .btn-default {
    margin-top: -28px;
    font-size: 11px;
    background-color: #FF9300;
    color: #FFFFFF; }
    @media (min-width: 1025px) {
      body main .button .btn-default {
        font-size: 21px; } }

body main .strategy {
  color: #214A80;
  margin-top: 31px;
  text-align: left; }
  @media (min-width: 1025px) {
    body main .strategy {
      margin-top: 180px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .strategy {
      margin-top: 60px; } }
  body main .strategy .title {
    width: 83%;
    margin-left: 10%;
    font-size: 18px; }
    @media (min-width: 1025px) {
      body main .strategy .title {
        width: 58%;
        margin-left: 21%;
        font-size: 32px;
        text-align: center; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .strategy .title {
        width: 79%;
        margin-left: 10%;
        font-size: 32px;
        text-align: center; } }
  body main .strategy .row {
    margin-right: 0;
    text-align: -webkit-center;
    margin-top: 38px; }
    @media (min-width: 1025px) {
      body main .strategy .row {
        margin-top: 114px;
        width: 70%;
        margin-left: 13%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .strategy .row {
        margin-top: 40px;
        width: 100%;
        margin-left: 0%; } }
    body main .strategy .row .col-sm-3 {
      margin-bottom: 30px; }
      body main .strategy .row .col-sm-3 .circle {
        width: 54%;
        height: 211px;
        border: 1px solid #214A80;
        border-radius: 118px; }
        @media (min-width: 1025px) {
          body main .strategy .row .col-sm-3 .circle {
            width: 89%;
            height: 191px; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .strategy .row .col-sm-3 .circle {
            width: 100%;
            height: 172px; } }
        body main .strategy .row .col-sm-3 .circle img {
          width: 33%;
          margin-top: 38px; }
          @media (min-width: 1025px) {
            body main .strategy .row .col-sm-3 .circle img {
              width: 24%; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .strategy .row .col-sm-3 .circle img {
              width: 24%; } }
        body main .strategy .row .col-sm-3 .circle p {
          width: 100%;
          margin-left: 0;
          font-size: 13px; }
          @media (min-width: 1025px) {
            body main .strategy .row .col-sm-3 .circle p {
              margin-top: 6px; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .strategy .row .col-sm-3 .circle p {
              margin-top: 6px; } }
        body main .strategy .row .col-sm-3 .circle .text2 {
          width: 98%; }

body main .contac-whats {
  margin-top: 45px; }
  body main .contac-whats .background-whastapp {
    background-image: url("../images/background-whatsapp.png");
    height: 263px;
    width: 100%;
    text-align: center; }
    @media (min-width: 1025px) {
      body main .contac-whats .background-whastapp {
        height: 390px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .contac-whats .background-whastapp {
        height: 390px; } }
    body main .contac-whats .background-whastapp p {
      color: #214A80; }
      @media (min-width: 1025px) {
        body main .contac-whats .background-whastapp p {
          font-size: 32px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .contac-whats .background-whastapp p {
          font-size: 32px; } }
      body main .contac-whats .background-whastapp p label {
        color: #000000; }
    body main .contac-whats .background-whastapp img {
      margin-top: 30px;
      margin-bottom: 15px;
      width: 70%; }
      @media (min-width: 1025px) {
        body main .contac-whats .background-whastapp img {
          width: 40%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .contac-whats .background-whastapp img {
          width: 40%; } }

body main .request2 {
  text-align: center;
  margin-top: 25px;
  background-color: #0064EF;
  border-radius: 20px; }
  @media (min-width: 1025px) {
    body main .request2 {
      margin-top: 181px;
      height: 801px;
      border-radius: 0px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request2 {
      margin-top: 100px;
      border-radius: 0px; } }
  @media (min-width: 1025px) {
    body main .request2 .desp {
      height: 130px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request2 .desp {
      height: 26px; } }
  body main .request2 .description {
    position: absolute;
    margin-top: 27px;
    color: #FFFFFF;
    width: 100%; }
    @media (min-width: 1025px) {
      body main .request2 .description {
        margin-top: 50px;
        font-size: 32px;
        width: 28%;
        text-align: left;
        margin-left: 26%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request2 .description {
        margin-top: 50px;
        font-size: 32px;
        width: 42%;
        text-align: left;
        margin-left: 17%; } }
    body main .request2 .description .text1 {
      font-weight: 900; }
    body main .request2 .description .text2 {
      font-weight: 400; }
    body main .request2 .description img {
      display: none; }
      @media (min-width: 1025px) {
        body main .request2 .description img {
          margin-left: 18%;
          margin-top: 40px;
          display: block; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .description img {
          margin-left: 18%;
          margin-top: 40px;
          display: block; } }
    body main .request2 .description hr {
      width: 100%;
      background-color: #E6E6FA; }
      @media (min-width: 1025px) {
        body main .request2 .description hr {
          display: none; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .description hr {
          display: none; } }
  body main .request2 canvas {
    border: 1px solid #E6E6FA;
    width: 100%;
    border-radius: 20px;
    height: 500px; }
    @media (min-width: 1025px) {
      body main .request2 canvas {
        width: 73%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request2 canvas {
        width: 81%; } }
  @media (min-width: 1025px) {
    body main .request2 .line-vertical {
      border-left: 1px solid #E6E6FA;
      height: 500px;
      position: absolute;
      margin-left: 61%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request2 .line-vertical {
      border-left: 1px solid #E6E6FA;
      height: 500px;
      position: absolute;
      margin-left: 57%; } }

body main .form-request {
  margin-left: 17%; }
  body main .form-request .diagnosis-free {
    position: absolute;
    margin-top: 171px;
    margin-left: -18%;
    color: #ffffff; }
    @media (min-width: 1025px) {
      body main .form-request .diagnosis-free {
        margin-top: 54px;
        margin-left: 48%;
        width: 18%;
        text-align: left; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .form-request .diagnosis-free {
        margin-top: 54px;
        margin-left: 43%;
        width: 30%;
        text-align: left; } }
  body main .form-request .form2 {
    position: absolute;
    margin-top: 270px; }
    @media (min-width: 1025px) {
      body main .form-request .form2 {
        margin-top: 178px;
        margin-left: 48%;
        width: 17%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .form-request .form2 {
        margin-top: 220px;
        margin-left: 43%;
        width: 29%; } }
    body main .form-request .form2 .form-reques2 {
      background-color: transparent;
      border-color: #ffffff; }
      @media (min-width: 1025px) {
        body main .form-request .form2 .form-reques2 {
          height: 51px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .form-request .form2 .form-reques2 {
          height: 51px; } }
    body main .form-request .form2 ::placeholder {
      color: #FFFFFF; }
    body main .form-request .form2 .btn-primary {
      background-color: #F37421;
      border-color: #F37421;
      width: 100%; }
      @media (min-width: 1025px) {
        body main .form-request .form2 .btn-primary {
          height: 51px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .form-request .form2 .btn-primary {
          height: 51px; } }
