html body {
  font-family: Montserrat; }

body header .logo-contact {
  margin-top: 2%;
  text-align: center; }
  @media (min-width: 1025px) {
    body header .logo-contact {
      text-align: left;
      width: 85%;
      margin-left: 7%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body header .logo-contact {
      text-align: left;
      width: 85%;
      margin-left: 7%; } }
  body header .logo-contact .row {
    margin-right: 0; }
    body header .logo-contact .row .col-sm-6 .contact {
      margin-top: 46px; }
      @media (min-width: 1025px) {
        body header .logo-contact .row .col-sm-6 .contact {
          text-align: right; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body header .logo-contact .row .col-sm-6 .contact {
          text-align: right; } }
      body header .logo-contact .row .col-sm-6 .contact h1 {
        font-size: 32px;
        color: #05283C;
        font-weight: 300; }
        body header .logo-contact .row .col-sm-6 .contact h1 .fa-whatsapp {
          font-size: 16px;
          position: absolute;
          color: #25d366;
          font-weight: 600; }

body header .headboard .row {
  margin-right: 0; }
  body header .headboard .row .col-sm-6 .description-headboard {
    margin-top: 25px;
    color: #05283C;
    padding-left: 13%;
    padding-right: 13%; }
    @media (min-width: 1025px) {
      body header .headboard .row .col-sm-6 .description-headboard {
        font-size: 32px;
        margin-top: 130px;
        padding-left: 13%;
        padding-right: 21%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body header .headboard .row .col-sm-6 .description-headboard {
        font-size: 25px;
        padding-left: 14%;
        padding-right: 0%; } }
    body header .headboard .row .col-sm-6 .description-headboard hr {
      margin-left: 0%;
      width: 7%;
      background: #F37421;
      height: 1px; }
  body header .headboard .row .image img {
    margin-top: -60px;
    margin-left: 3%; }
    @media (min-width: 1025px) {
      body header .headboard .row .image img {
        margin-top: -80px;
        margin-left: 0%; } }

body main .services hr {
  width: 85%;
  margin-top: 70px; }
  @media (min-width: 1025px) {
    body main .services hr {
      margin-top: 130px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .services hr {
      margin-top: 130px; } }

body main .services .title {
  color: #05283C;
  padding-left: 14%;
  padding-right: 14%;
  margin-top: 70px;
  text-align: center; }
  @media (min-width: 1025px) {
    body main .services .title {
      margin-left: 21%;
      margin-top: 180px;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .services .title {
      padding-left: 4%;
      padding-right: 4%; } }
  body main .services .title h3 {
    font-size: 18px;
    font-weight: 300; }
    @media (min-width: 1025px) {
      body main .services .title h3 {
        font-size: 32px;
        text-align: center;
        width: 69%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .services .title h3 {
        font-size: 32px;
        text-align: center; } }

body main .services .list-services {
  margin-top: 40px;
  text-align: center; }
  @media (min-width: 1025px) {
    body main .services .list-services {
      margin-top: 100px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .services .list-services {
      margin-top: 100px;
      padding-left: 4%;
      padding-right: 4%; } }
  body main .services .list-services .row {
    margin-right: 0;
    color: #000000; }
    @media (min-width: 1025px) {
      body main .services .list-services .row {
        width: 70%;
        margin-left: 13%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .services .list-services .row {
        width: 100%;
        margin-left: 0%; } }
    body main .services .list-services .row .col-sm-3 img {
      margin-bottom: 7px; }
    body main .services .list-services .row .col-sm-3 h6 {
      font-size: 22px;
      font-weight: bold;
      margin-top: 21px; }
    body main .services .list-services .row .col-sm-3 p {
      padding-left: 14%;
      padding-right: 14%;
      margin-top: 30px; }
      @media (min-width: 1025px) {
        body main .services .list-services .row .col-sm-3 p {
          padding-left: 19%;
          padding-right: 19%;
          font-size: 12px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .services .list-services .row .col-sm-3 p {
          padding-left: 0%;
          padding-right: 0%;
          font-size: 12px; } }

body main .request {
  text-align: center;
  margin-top: 120px;
  margin-right: 8%;
  margin-left: 8%; }
  @media (min-width: 1025px) {
    body main .request {
      margin-top: 181px;
      margin-right: 0;
      margin-left: 0; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request {
      margin-top: 100px;
      margin-right: 0;
      margin-left: 0; } }
  body main .request .description {
    position: absolute;
    margin-top: 27px;
    color: #F26739; }
    @media (max-width: 667px) {
      body main .request .description {
        width: 84%; } }
    @media (min-width: 1025px) {
      body main .request .description {
        margin-top: 7%;
        font-size: 32px;
        text-align: left;
        margin-left: 24%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request .description {
        margin-top: 54px;
        font-size: 29px;
        text-align: left;
        padding-left: 14%;
        padding-right: 44%; } }
    body main .request .description img {
      display: none; }
      @media (min-width: 1025px) {
        body main .request .description img {
          margin-left: 18%;
          margin-top: 40px;
          display: block; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request .description img {
          margin-left: 18%;
          margin-top: 40px;
          display: block; } }
    body main .request .description hr {
      width: 100%;
      background-color: #000000; }
      @media (min-width: 1025px) {
        body main .request .description hr {
          display: none; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request .description hr {
          display: none; } }
  body main .request canvas {
    border: 1px solid #000000;
    width: 100%;
    border-radius: 20px;
    height: 500px; }
    @media (max-width: 667px) {
      body main .request canvas {
        box-shadow: 1px 1px 1px 3px #999;
        height: 525px; } }
    @media (min-width: 1025px) {
      body main .request canvas {
        width: 73%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request canvas {
        width: 81%; } }
  @media (min-width: 1025px) {
    body main .request .line-vertical {
      border-left: 1px solid #000000;
      height: 500px;
      position: absolute;
      margin-left: 61%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request .line-vertical {
      border-left: 1px solid #000000;
      height: 500px;
      position: absolute;
      margin-left: 57%; } }

body main .form-request h2 {
  position: absolute;
  margin-top: 171px;
  color: #05283C; }
  @media (max-width: 667px) {
    body main .form-request h2 {
      font-size: 26px;
      width: 84%; } }
  @media (min-width: 1025px) {
    body main .form-request h2 {
      margin-top: 6%;
      margin-left: 64%;
      text-align: left; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .form-request h2 {
      margin-top: 54px;
      margin-left: 60%;
      text-align: left;
      padding-right: 4%; } }

body main .form-request form {
  position: absolute;
  margin-top: 270px;
  padding-right: 17%;
  padding-left: 13%; }
  @media (min-width: 1025px) {
    body main .form-request form {
      margin-top: 178px;
      padding-left: 64%;
      padding-right: 16%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .form-request form {
      margin-top: 190px;
      padding-left: 60%;
      padding-right: 13%; } }
  body main .form-request form .form-control {
    border-color: #000000; }
    @media (min-width: 1025px) {
      body main .form-request form .form-control {
        height: 51px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .form-request form .form-control {
        height: 51px; } }
  body main .form-request form .btn-primary {
    background-color: #F37421;
    border-color: #F37421;
    width: 100%; }
    @media (min-width: 1025px) {
      body main .form-request form .btn-primary {
        height: 51px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .form-request form .btn-primary {
        height: 51px; } }
  body main .form-request form .btn-primary:hover {
    background-color: #FFFFFF;
    color: #F37421;
    border-color: #F26739; }

body footer {
  background-color: #111231; }
  body footer .row {
    margin-right: 0; }
    body footer .row .col-sm-6 ul {
      margin-top: 40px; }
      @media (min-width: 1025px) {
        body footer .row .col-sm-6 ul {
          margin-left: 9%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body footer .row .col-sm-6 ul {
          margin-left: 9%; } }
      body footer .row .col-sm-6 ul li {
        list-style: none;
        color: #CCCCCC;
        font-size: 13px;
        margin-top: 5px; }
        @media (min-width: 1025px) {
          body footer .row .col-sm-6 ul li {
            font-size: 22px;
            margin-top: 0; } }
        body footer .row .col-sm-6 ul li i {
          color: #FFFFFF;
          width: 8%; }
          @media (min-width: 1025px) {
            body footer .row .col-sm-6 ul li i {
              width: 5%;
              letter-spacing: 16px; } }
    body footer .row .logo {
      text-align: center;
      margin-top: 11px;
      margin-bottom: 23px; }
      @media (min-width: 1025px) {
        body footer .row .logo {
          margin-top: 40px;
          margin-bottom: 40px; } }

body main .diagnosis {
  margin-top: 140px;
  text-align: center; }
  @media (min-width: 1025px) {
    body main .diagnosis {
      margin-top: 280px;
      height: 563px;
      text-align: left; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .diagnosis {
      text-align: left;
      height: 563px; } }
  body main .diagnosis .image {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #FF9300), url("../images/diagnostico.png");
    height: 305px;
    width: 100%; }
    @media (max-width: 667px) {
      body main .diagnosis .image {
        background-size: 100% 100%; } }
    @media (min-width: 1025px) {
      body main .diagnosis .image {
        height: 681px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .diagnosis .image {
        height: 681px; } }
    body main .diagnosis .image .text {
      color: #FFFFFF; }
      body main .diagnosis .image .text p {
        margin-top: 47px;
        position: absolute; }
        @media (max-width: 667px) {
          body main .diagnosis .image .text p {
            width: 100%;
            padding-right: 16%;
            padding-left: 11%; } }
        @media (min-width: 1025px) {
          body main .diagnosis .image .text p {
            font-size: 32px;
            padding-left: 8%;
            padding-right: 43%;
            margin-top: 152px; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .diagnosis .image .text p {
            font-size: 32px;
            padding-left: 8%;
            padding-right: 15%;
            margin-top: 151px; } }
    body main .diagnosis .image .btn-default {
      font-size: 11px;
      background-color: #FFFFFF;
      margin-top: 198px;
      color: #FF9300; }
      @media (max-width: 667px) {
        body main .diagnosis .image .btn-default {
          width: 76%; }
          body main .diagnosis .image .btn-default strong {
            font-size: 19px;
            white-space: normal; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .diagnosis .image .btn-default {
          width: 40%; }
          body main .diagnosis .image .btn-default strong {
            font-size: 19px;
            white-space: normal; } }
      @media (min-width: 1025px) {
        body main .diagnosis .image .btn-default {
          margin-left: 8%;
          font-size: 19px;
          margin-top: 372px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .diagnosis .image .btn-default {
          margin-left: 8%;
          font-size: 19px;
          margin-top: 364px; } }
    body main .diagnosis .image .btn-default:hover {
      background-color: #F26739;
      color: #FFFFFF;
      border-color: transparent; }

body main .comprehensive-advice {
  background-color: #d8d8d8; }
  body main .comprehensive-advice .row {
    margin-right: 0; }
  @media (min-width: 1025px) {
    body main .comprehensive-advice .row-1 .col-sm-4 {
      margin-left: 2%; } }
  body main .comprehensive-advice .row-1 .col-sm-4 h6 {
    margin-top: 32px;
    margin-left: 7%;
    color: #000000;
    font-weight: bold; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-4 h6 {
        margin-top: 350px;
        font-size: 22px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-1 .col-sm-4 h6 {
        margin-top: 122px;
        font-size: 22px; } }
  body main .comprehensive-advice .row-1 .col-sm-4 hr {
    width: 11%;
    background-color: #FF9300;
    margin-right: 82%;
    height: 1px; }
  body main .comprehensive-advice .row-1 .col-sm-4 p {
    margin-left: 6%;
    color: #05283C; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-4 p {
        font-size: 32px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-1 .col-sm-4 p {
        font-size: 20px; } }
  body main .comprehensive-advice .row-1 .col-sm-4 a .btn-default {
    font-size: 14px;
    margin-left: 6%;
    background-color: #FFFFFF;
    border-radius: 14px;
    color: #05283C;
    border-color: #05283C; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-1 .col-sm-4 a .btn-default {
        font-size: 18px;
        margin-left: 5%;
        white-space: normal; } }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-4 a .btn-default {
        font-size: 18px; } }
  body main .comprehensive-advice .row-1 .col-sm-4 a .btn-default:hover {
    background-color: #F26739;
    color: #FFFFFF;
    border-color: transparent; }
  @media (min-width: 1025px) {
    body main .comprehensive-advice .row-1 .col-sm-8 {
      max-width: 58.666667%; } }
  body main .comprehensive-advice .row-1 .col-sm-8 img {
    margin-top: 25px;
    width: 100%;
    margin-left: 3%; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-1 .col-sm-8 img {
        margin-top: 168px;
        margin-left: 12%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-1 .col-sm-8 img {
        margin-left: 2%; } }
  body main .comprehensive-advice .row-2 {
    text-align: center; }
    @media (min-width: 1025px) {
      body main .comprehensive-advice .row-2 {
        margin-top: 90px;
        margin-left: 9%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .comprehensive-advice .row-2 {
        margin-top: 60px; } }
    body main .comprehensive-advice .row-2 .col-sm-4 {
      color: #606060; }
      @media (max-width: 667px) {
        body main .comprehensive-advice .row-2 .col-sm-4 {
          margin-top: 89px; } }
      @media (min-width: 1025px) {
        body main .comprehensive-advice .row-2 .col-sm-4 {
          margin-bottom: 150px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .comprehensive-advice .row-2 .col-sm-4 {
          margin-bottom: 112px; } }
      @media (min-width: 1025px) {
        body main .comprehensive-advice .row-2 .col-sm-4 img {
          float: left; } }
      body main .comprehensive-advice .row-2 .col-sm-4 p {
        font-size: 22px;
        font-weight: bold; }
        @media (max-width: 667px) {
          body main .comprehensive-advice .row-2 .col-sm-4 p {
            margin-left: 8%;
            margin-right: 6%; } }
        @media (min-width: 1025px) {
          body main .comprehensive-advice .row-2 .col-sm-4 p {
            width: 48%;
            text-align: left;
            margin-top: 13px;
            margin-left: 15%; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .comprehensive-advice .row-2 .col-sm-4 p {
            margin-left: 8%;
            margin-right: 6%; } }
    @media (max-width: 667px) {
      body main .comprehensive-advice .row-2 .col-sm-4:nth-child(3) {
        margin-bottom: 108px; } }

body main .button {
  text-align: center; }
  body main .button .btn-default {
    font-size: 19px;
    white-space: normal;
    margin-top: -50px;
    background-color: #FF9300;
    color: #FFFFFF; }
    @media (max-width: 667px) {
      body main .button .btn-default {
        width: 82%; } }
    @media (min-width: 1025px) {
      body main .button .btn-default {
        font-size: 21px;
        margin-top: -28px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .button .btn-default {
        white-space: normal;
        font-size: 27px;
        width: 51%;
        border-radius: 14px; } }
  body main .button .btn-default:hover {
    background-color: #FFFFFF;
    color: #F37421;
    border-color: #F26739; }

body main .strategy {
  color: #214A80;
  margin-top: 100px;
  text-align: left; }
  @media (min-width: 1025px) {
    body main .strategy {
      margin-top: 230px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .strategy {
      margin-top: 150px; } }
  body main .strategy .title {
    width: 83%;
    margin-left: 10%;
    font-size: 18px; }
    @media (min-width: 1025px) {
      body main .strategy .title {
        width: 58%;
        margin-left: 21%;
        font-size: 32px;
        text-align: center; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .strategy .title {
        width: 79%;
        margin-left: 10%;
        font-size: 32px;
        text-align: center; } }
  body main .strategy .row {
    margin-right: 0;
    text-align: -webkit-center;
    margin-top: 38px; }
    @media (min-width: 1025px) {
      body main .strategy .row {
        margin-top: 114px;
        width: 70%;
        margin-left: 13%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .strategy .row {
        margin-top: 40px;
        width: 100%;
        margin-left: 0%; } }
    body main .strategy .row .col-sm-3 {
      margin-bottom: 30px; }
      body main .strategy .row .col-sm-3 .circle {
        width: 236px;
        height: 230px;
        border: 1px solid #214A80;
        border-radius: 118px; }
        @media (min-width: 1025px) {
          body main .strategy .row .col-sm-3 .circle {
            width: 195px;
            height: 191px; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .strategy .row .col-sm-3 .circle {
            width: 175px;
            height: 172px; } }
        body main .strategy .row .col-sm-3 .circle img {
          width: 33%;
          margin-top: 38px; }
          @media (min-width: 1025px) {
            body main .strategy .row .col-sm-3 .circle img {
              width: 24%; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .strategy .row .col-sm-3 .circle img {
              width: 24%; } }
        body main .strategy .row .col-sm-3 .circle p {
          width: 100%;
          margin-left: 0;
          font-size: 15px; }
          @media (min-width: 1025px) {
            body main .strategy .row .col-sm-3 .circle p {
              margin-top: 6px;
              font-size: 12px; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .strategy .row .col-sm-3 .circle p {
              margin-top: 6px;
              font-size: 11px; } }
        body main .strategy .row .col-sm-3 .circle .text2 {
          width: 98%; }

body main .contac-whats {
  margin-top: 100px; }
  @media (min-width: 1025px) {
    body main .contac-whats {
      margin-top: 80px; } }
  body main .contac-whats .background-whastapp {
    background-image: url("../images/background-whatsapp.png");
    width: 100%;
    text-align: center; }
    @media (min-width: 1025px) {
      body main .contac-whats .background-whastapp {
        height: 800px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .contac-whats .background-whastapp {
        height: 390px; } }
    @media (min-width: 1025px) {
      body main .contac-whats .background-whastapp p:nth-child(1) {
        padding-top: 173px; } }
    body main .contac-whats .background-whastapp p {
      color: #214A80;
      padding-top: 15%; }
      @media (max-width: 667px) {
        body main .contac-whats .background-whastapp p {
          margin-left: 5%;
          margin-right: 9%; } }
      @media (min-width: 1025px) {
        body main .contac-whats .background-whastapp p {
          font-size: 32px;
          padding-top: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .contac-whats .background-whastapp p {
          font-size: 32px;
          padding-top: 0; } }
      body main .contac-whats .background-whastapp p label {
        color: #000000; }
    @media (max-width: 667px) {
      body main .contac-whats .background-whastapp p:nth-child(3) {
        margin-bottom: 12%; } }
    body main .contac-whats .background-whastapp img {
      width: 70%; }
      @media (min-width: 1025px) {
        body main .contac-whats .background-whastapp img {
          width: 40%;
          margin-top: 30px;
          margin-bottom: 15px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .contac-whats .background-whastapp img {
          width: 40%;
          margin-top: 30px;
          margin-bottom: 15px; } }

body main .team-company {
  background-color: #d8d8d8;
  text-align: center; }
  body main .team-company h1 {
    font-size: 18px;
    padding-top: 59px; }
    @media (min-width: 1025px) {
      body main .team-company h1 {
        font-size: 32px;
        padding-top: 150px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .team-company h1 {
        font-size: 32px;
        padding-top: 150px; } }
  body main .team-company .row {
    margin-right: 0; }
    body main .team-company .row .col-sm-4 {
      text-align: -webkit-center;
      margin-bottom: 95px; }
      @media (max-width: 667px) {
        body main .team-company .row .col-sm-4 {
          padding-left: 6%; } }
      @media (min-width: 1025px) {
        body main .team-company .row .col-sm-4 {
          margin-right: -123px; } }
    body main .team-company .row .content {
      background-color: #FFFFFF;
      width: 88%;
      text-align: left;
      color: #214A80;
      height: 106%; }
      @media (min-width: 1025px) {
        body main .team-company .row .content {
          width: 45%;
          margin-left: 50%; } }
      body main .team-company .row .content img {
        width: 100%; }
      body main .team-company .row .content .description {
        margin-left: 13%;
        margin-top: 27px; }
        body main .team-company .row .content .description p {
          font-size: 12px;
          width: 89%; }
        body main .team-company .row .content .description h6 {
          font-weight: 900; }
      body main .team-company .row .content .description-alianze {
        font-size: 19px; }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .team-company .row .content .description-alianze {
            font-size: 19px; } }
        body main .team-company .row .content .description-alianze p {
          text-align: center; }
      body main .team-company .row .content .alliance img {
        width: 70%;
        margin-top: 32px;
        margin-left: 12%; }
  body main .team-company .row-1 {
    margin-top: 48px;
    margin-bottom: 26px; }
    @media (min-width: 1025px) {
      body main .team-company .row-1 {
        margin-top: 124px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .team-company .row-1 {
        margin-top: 124px;
        padding-left: 9%;
        padding-right: 8%; } }
  body main .team-company .row-2 {
    margin-bottom: 65px; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .team-company .row-2 {
        padding-left: 9%;
        padding-right: 8%; } }

body main .request2 {
  text-align: center;
  height: 593px; }
  @media (min-width: 1025px) {
    body main .request2 {
      height: 801px;
      border-radius: 0px;
      background-color: #0064EF; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request2 {
      border-radius: 0px;
      background-color: #0064EF;
      height: 553px; } }
  @media (min-width: 1025px) {
    body main .request2 .desp {
      height: 130px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request2 .desp {
      height: 26px; } }
  body main .request2 .description {
    position: absolute;
    margin-top: 27px;
    color: #FFFFFF;
    width: 100%; }
    @media (min-width: 1025px) {
      body main .request2 .description {
        margin-top: 6%;
        font-size: 32px;
        width: 30%;
        text-align: left;
        margin-left: 23%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request2 .description {
        margin-top: 50px;
        font-size: 32px;
        width: 41%;
        text-align: left;
        margin-left: 15%; } }
    body main .request2 .description .text1 {
      font-weight: 900;
      padding-left: 9%;
      padding-right: 9%;
      padding-top: 6%; }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .description .text1 {
          padding-left: 0;
          padding-right: 0;
          padding-top: 0; } }
      @media (min-width: 1025px) {
        body main .request2 .description .text1 {
          padding-left: 0;
          padding-right: 0;
          padding-top: 0; } }
    body main .request2 .description .text2 {
      font-weight: 400;
      padding-left: 9%;
      padding-right: 9%; }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .description .text2 {
          padding-left: 0%;
          padding-right: 0%; } }
      @media (min-width: 1025px) {
        body main .request2 .description .text2 {
          padding-left: 0%;
          padding-right: 0%; } }
    body main .request2 .description img {
      display: none; }
      @media (min-width: 1025px) {
        body main .request2 .description img {
          margin-left: 18%;
          margin-top: 40px;
          display: block; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .description img {
          margin-left: 18%;
          margin-top: 0px;
          display: block; } }
    body main .request2 .description hr {
      width: 100%;
      background-color: #E6E6FA;
      margin-top: 31px; }
      @media (min-width: 1025px) {
        body main .request2 .description hr {
          display: none; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .description hr {
          display: none; } }
  body main .request2 canvas {
    border: 1px solid #E6E6FA;
    width: 100%;
    height: 500px;
    background-color: #0064EF; }
    @media (max-width: 667px) {
      body main .request2 canvas {
        height: 593px; } }
    @media (min-width: 1025px) {
      body main .request2 canvas {
        width: 73%;
        border-radius: 20px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request2 canvas {
        width: 81%;
        border-radius: 20px;
        height: 477px;
        margin-top: 23px; } }
  @media (min-width: 1025px) {
    body main .request2 .line-vertical {
      border-left: 1px solid #E6E6FA;
      height: 500px;
      position: absolute;
      margin-left: 61%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .request2 .line-vertical {
      border-left: 1px solid #E6E6FA;
      height: 477px;
      position: absolute;
      margin-left: 57%;
      margin-top: 23px; } }
  body main .request2 .form-request2 .diagnosis-free2 {
    position: absolute;
    padding-right: 5%;
    padding-left: 7%;
    padding-top: 67%;
    color: #ffffff; }
    @media (min-width: 1025px) {
      body main .request2 .form-request2 .diagnosis-free2 {
        padding-top: 6%;
        margin-left: 64%;
        width: 23%;
        text-align: left;
        padding-right: 0;
        padding-left: 0; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request2 .form-request2 .diagnosis-free2 {
        padding-top: 7%;
        margin-left: 61%;
        width: 34%;
        text-align: left;
        padding-right: 0;
        padding-left: 0; } }
  body main .request2 .form-request2 .form2 .form-second {
    position: absolute;
    padding-right: 13%;
    padding-left: 19%;
    margin-top: 352px; }
    @media (min-width: 1025px) {
      body main .request2 .form-request2 .form2 .form-second {
        margin-top: 205px;
        padding-left: 65%;
        padding-right: 16%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .request2 .form-request2 .form2 .form-second {
        margin-top: 218px;
        padding-left: 60%;
        padding-right: 13%; } }
    body main .request2 .form-request2 .form2 .form-second .form-control {
      border-color: #000000; }
      @media (min-width: 1025px) {
        body main .request2 .form-request2 .form2 .form-second .form-control {
          height: 51px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .form-request2 .form2 .form-second .form-control {
          height: 51px; } }
    body main .request2 .form-request2 .form2 .form-second .form-reques2 {
      background-color: transparent;
      border-color: #ffffff; }
      @media (min-width: 1025px) {
        body main .request2 .form-request2 .form2 .form-second .form-reques2 {
          height: 51px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .form-request2 .form2 .form-second .form-reques2 {
          height: 51px; } }
    body main .request2 .form-request2 .form2 .form-second .btn-primary {
      background-color: #F37421;
      border-color: #F37421;
      width: 100%; }
      @media (min-width: 1025px) {
        body main .request2 .form-request2 .form2 .form-second .btn-primary {
          height: 51px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .request2 .form-request2 .form2 .form-second .btn-primary {
          height: 51px; } }

body main .modal {
  background-color: #000000;
  opacity: .95;
  padding-top: 21%;
  padding-bottom: 25%;
  padding-left: 6%;
  padding-right: 6%; }
  @media (min-width: 1025px) {
    body main .modal {
      padding-left: 14%;
      padding-right: 14%;
      padding-top: 8%;
      padding-bottom: 4%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .modal {
      padding-left: 7%;
      padding-right: 7%;
      padding-top: 31%;
      padding-bottom: 38%; } }
  body main .modal .modal-content {
    box-shadow: 9px 11px 7px 0 rgba(105, 99, 99, 0.19);
    background-color: #0064EF;
    padding-left: 9%;
    padding-right: 5%;
    padding-bottom: 4%;
    padding-top: 3%;
    border: 1px solid #FFFFFF;
    border-radius: 21px; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .modal .modal-content {
        padding-left: 7%;
        padding-right: 0%; } }
    body main .modal .modal-content span {
      color: #FFFFFF;
      font-size: 38px; }
    body main .modal .modal-content h2 {
      color: #FFFFFF;
      text-align: center; }
      @media (max-width: 667px) {
        body main .modal .modal-content h2 {
          font-size: 22px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .modal .modal-content h2 {
          margin-bottom: 27px;
          text-align: left; } }
      @media (min-width: 1025px) {
        body main .modal .modal-content h2 {
          text-align: left; } }
    body main .modal .modal-content .btn-primary {
      background-color: #F37421;
      border-color: #F37421;
      width: 100%;
      height: 54px;
      margin-bottom: 16px; }
      @media (min-width: 1025px) {
        body main .modal .modal-content .btn-primary {
          margin-bottom: 0; } }
    body main .modal .modal-content .btn-primary:hover {
      background-color: #FFFFFF;
      border-color: #F37421;
      color: #F37421; }
    body main .modal .modal-content .row .col-sm-6 p {
      margin-top: 4%;
      font-size: 19px;
      color: #FFFFFF; }
      @media (min-width: 1025px) {
        body main .modal .modal-content .row .col-sm-6 p {
          font-size: 28px;
          padding-top: 11%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .modal .modal-content .row .col-sm-6 p {
          font-size: 28px;
          padding-top: 11%; } }
    body main .modal .modal-content .row .col-sm-6 img {
      display: none; }
      @media (min-width: 1025px) {
        body main .modal .modal-content .row .col-sm-6 img {
          display: block;
          padding-left: 20%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .modal .modal-content .row .col-sm-6 img {
          display: block;
          padding-left: 20%; } }
    body main .modal .modal-content .row .col-sm-6 form .form-control {
      width: 79%;
      position: absolute; }
      @media (min-width: 1025px) {
        body main .modal .modal-content .row .col-sm-6 form .form-control {
          width: 58%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .modal .modal-content .row .col-sm-6 form .form-control {
          width: 58%; } }
    body main .modal .modal-content .row .col-sm-6:nth-child(2) {
      padding-left: 10%;
      padding-right: 11%; }
      @media (min-width: 1025px) {
        body main .modal .modal-content .row .col-sm-6:nth-child(2) {
          border-left: 1px solid #FFFFFF; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .modal .modal-content .row .col-sm-6:nth-child(2) {
          border-left: 1px solid #FFFFFF; } }
